/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for VCF Consensus Workflow module
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: 'VCF_CONSENSUS' {
        ext.prefix = { "${meta.id}" }
        ext.thr = 2
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/consensus/vcf/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }

    withName: 'VCF_CONSENSUS_RESCUE' {
        ext.prefix = { "${meta.id}" }
        ext.thr = 2
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/consensus/vcf/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }

    withName: 'VCF_RESCUE' {
        ext.prefix = { "${meta.id}" }
        ext.snv_thr = 2
        ext.indel_thr = 2
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/rescue/vcf/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }

    withName: 'VCF_RESCUE_FILTER' {
        ext.prefix = { "${meta.id}" }
        ext.dna_thr = 2
        ext.rna_thr = 2
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/rescue/filtered/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }
}
