/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for VCF Consensus Workflow module
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: 'VCF_CONSENSUS' {
        ext.prefix = { "${meta.id}" }
        ext.thr = 2
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/consensus/vcf/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }

    withName: 'VCF_CONSENSUS_RESCUE' {
        ext.prefix = { "${meta.id}" }
        ext.thr = 2
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/consensus/vcf/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }
}
