// Portable HG008 WGS hybrid profile.
includeConfig "../seqc2.shared.config"

params {
    config_profile_name = 'Seqc2HybridHg008Wgs'
    config_profile_description = 'HG008 WGS DNA BAM plus RNA FASTQ hybrid benchmark'
    step = 'mapping'
    rna = true
    dna = true
    wes = false
    fasta = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta'
    fasta_fai = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai'
    intervals = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/data/giab/data/giab_benchmarks/smvar_v0.3/HG008-T_somatic_smvar_benchmark_v0.3_all.bed'
    tools = 'deepsomatic,mutect2,strelka,norm,consensus,rescue,filtering,rna_filtering,realignment'
    vc_priority = 'deepsomatic mutect2 strelka consensus'
    save_bam_mapped = false
    save_output_as_bam = false
    trim_fastq = false
    split_fastq = 0
    realignment = true
    realignment_mode = 'vcf'
    enable_vcf_realignment_optimization = true
    enable_rna_annotation = true
    enable_cosmic_gnomad_annotation = true
}
