// Portable WGS-IL hybrid profile: caller-ready DNA BAMs + pooled RNA FASTQs.
includeConfig "../seqc2.shared.config"

params {
    config_profile_name = 'Seqc2HybridWgs'
    config_profile_description = 'SEQC2 WGS-IL caller-ready DNA BAM plus pooled RNA FASTQ'
    step = 'mapping'
    rna = true
    dna = true
    wes = false
    intervals = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/intervals/ukb.pad50.broad.pad50.union.bed'
    tools = 'deepsomatic,mutect2,strelka,norm,consensus,rescue,filtering,rna_filtering,realignment'
    vc_priority = 'deepsomatic mutect2 strelka consensus'
    save_bam_mapped = false
    save_output_as_bam = false
    trim_fastq = false
    split_fastq = 0
    realignment = true
    realignment_mode = 'vcf'
    enable_vcf_realignment_optimization = true
    enable_rna_annotation = true
    enable_cosmic_gnomad_annotation = true
}
