// Portable HG008 WGS hybrid profile.
includeConfig "../seqc2.shared.config"

params {
    config_profile_name = 'Seqc2HybridHg008Wgs'
    config_profile_description = 'HG008 WGS DNA BAM plus RNA FASTQ hybrid benchmark'
    step = 'mapping'
    rna = true
    dna = true
    wes = false
    fasta = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/data/references/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18.fasta.gz'
    fasta_fai = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/data/references/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18.fasta.gz.fai'
    intervals = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/data/giab/data/giab_benchmarks/smvar_v0.3/HG008-T_somatic_smvar_benchmark_v0.3_all.bed'
    tools = 'deepsomatic,mutect2,strelka,norm,consensus,rescue,filtering,rna_filtering'
    vc_priority = 'deepsomatic mutect2 strelka consensus'
    save_bam_mapped = false
    save_output_as_bam = false
    trim_fastq = false
    split_fastq = 0
    realignment = false
}
