/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnadnavar -profile test,<docker/singularity> --outdir <OUTDIR>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 104,
        memory: '220.GB',
        time: '36.h'
    ]
}

params {
    config_profile_name        = 'Seq2neo'
    config_profile_description = 'Seq2neo running config'
    custom_config_base         = "/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/pipeline/configs/"


    // Input data
    // input  = "/t9k/mnt/hdd/work/Vax/sequencing/aim_exp/rdv_test/C008801/input/C008801.csv"
    // outdir = 'Seq2neo.subset'
    save_bam_mapped                 = true
    save_output_as_bam              = false
    rna                             = true
    dna                             = true
    wes                             = true
    seq_platform                    = 'ILLUMINA'

    // Small reference genome
    step                 = "mapping"
    wes                  = true
    genome               = 'GRCh38'
    fasta                = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta'
    fasta_fai            = "/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
    star_index           = "/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/star"
    hisat2_index         = "/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/hisat2"
    bwa                  = "/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/GATK/GRCh38/Sequence/BWAIndex"
    aligner              = "bwa-mem"
    igenomes_base        = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references'
    igenomes_ignore      = false
    download_cache       = false
    dbsnp                = "/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
    dbsnp_tbi            = "/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
    pon                  = "/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000g_pon.hg38.vcf.gz"
    pon_tbi              = "/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000g_pon.hg38.vcf.gz.tbi"
    germline_resource    = "/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/af-only-gnomad.hg38.vcf.gz"
    germline_resource_tbi= "/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/af-only-gnomad.hg38.vcf.gz.tbi"
    no_intervals         = false
    intervals            = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/intervals/ukb.pad50.broad.pad50.union.bed'
    gtf                  = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/references/Homo_sapiens/NCBI/GRCh38/Annotation/Genes.gencode/genes.gtf'
    vep_cache            = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/vep'
    vep_cache_version    = 115
    vep_species          = "homo_sapiens"
    vep_genome           = "GRCh38"
    download_cache       = false
    vep_include_fasta    = true

    // RNA editing option
    enable_rna_annotation                     = true
    rediportal_vcf                            = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/rna_editing/REDIportal/REDIportal_hg38_v3.vcf.gz'
    rediportal_tbi                            = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/rna_editing/REDIportal/REDIportal_hg38_v3.vcf.gz.tbi'
    min_rna_support                           = 2
    // gnomAD & COSMIC annotation
    cosmic_database                           = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/COSMIC/ucsc_chr_cosmic_GenomeScreensMutant_Normal_v103_GRCh38.vcf.gz'
    gnomad_database                           = '/t9k/mnt/WorkSpace/data/ngs/xuzhenyu/bio_db/gnomAD/exomes'
    enable_cosmic_gnomad_annotation           = true
    cosmic_gnomad_verbose                     = false
    cosmic_gnomad_germline_freq_threshold     = 0.001
    cosmic_gnomad_somatic_consensus_threshold = 2
    cosmic_gnomad_cosmic_recurrence_threshold = 5
    // realignment
    realignment_mode                          = 'vcf'


    // params
    trim_fastq                                = true
    split_fastq                               = 0           // no FASTQ splitting
    save_trimmed                              = true
    defaultvariantcallers                     = "deepsomatic,strelka,mutect2"
    consensus_expected_callers               = "deepsomatic,mutect2,strelka"
    tools                                     = 'deepsomatic,mutect2,strelka,vep,norm,consensus,rescue,filtering,rna_filtering,realignment'
    vc_priority                               = 'deepsomatic mutect2 strelka consensus'
}
