/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnadnavar -profile test,<docker/singularity> --outdir <OUTDIR>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 36,
        memory: '220.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name        = 'COO8801'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    custom_config_base         = "/t9k/mnt/hdd/work/Vax/pipeline/configs"


    // Input data
    // input  = "/t9k/mnt/hdd/work/Vax/sequencing/aim_exp/rdv_test/C008801/input/C008801.csv"
    // outdir = 'COO8801.subset'
    save_bam_mapped                 = false
    save_output_as_bam              = false
    rna                             = true
    dna                             = true
    wes                             = true
    seq_platform                    = 'ILLUMINA'

    // Small reference genome
    step                 = "mapping"
    wes                  = true
    genome               = 'GRCh38'
    fasta                = '/t9k/mnt/joey/bio_db/references/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta'
    fasta_fai            = "/t9k/mnt/joey/bio_db/references/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
    star_index           = "/t9k/mnt/joey/bio_db/star"
    // hisat2_index         = ""
    bwa                  = "/t9k/mnt/joey/bio_db/references/Homo_sapiens/GATK/GRCh38/Sequence/BWAIndex"
    aligner              = "bwa-mem"
    igenomes_base        = '/t9k/mnt/joey/bio_db/references'
    igenomes_ignore      = false
    download_cache       = false
    dbsnp                = "/t9k/mnt/joey/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
    dbsnp_tbi            = "/t9k/mnt/joey/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
    pon                  = "/t9k/mnt/joey/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000g_pon.hg38.vcf.gz"
    pon_tbi              = "/t9k/mnt/joey/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000g_pon.hg38.vcf.gz.tbi"
    germline_resource    = "/t9k/mnt/joey/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/af-only-gnomad.hg38.vcf.gz"
    germline_resource_tbi= "/t9k/mnt/joey/bio_db/references/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/af-only-gnomad.hg38.vcf.gz.tbi"
    no_intervals         = false
    intervals            = '/t9k/mnt/hdd/work/Vax/sequencing/illumina_beds/hg38_Twist_Bioscience_for_Illumina_Exome_2_5_CSPGx.bed'
    gtf                  = '/t9k/mnt/joey/bio_db/references/Homo_sapiens/NCBI/GRCh38/Annotation/Genes.gencode/genes.gtf'
    // sage_highconfidence  = '/t9k/mnt/hdd/work/Vax/rnadnavar/test-datasets/resources/hmftools/variants/HighConfidence.38.bed.gz'
    // sage_actionablepanel = '/t9k/mnt/hdd/work/Vax/rnadnavar/test-datasets/resources/hmftools/variants/ActionableCodingPanel.38.bed.gz'
    // sage_knownhotspots   = '/t9k/mnt/hdd/work/Vax/rnadnavar/test-datasets/resources/hmftools/variants/KnownHotspots.somatic.38.vcf.gz'
    // sage_ensembl_dir     = '/t9k/mnt/hdd/work/Vax/rnadnavar/test-datasets/resources/hmftools/common/sage_ensembl.zip'
    vep_cache            = '/t9k/mnt/joey/bio_db/vep'
    vep_cache_version    = 115
    vep_species          = "homo_sapiens"
    vep_genome           = "GRCh38"
    download_cache       = false
    vep_include_fasta    = true

    // RNA editing option
    enable_rna_annotation                     = true
    rediportal_vcf                            = '/t9k/mnt/joey/bio_db/rna_editing/REDIportal/REDIportal_hg38_v3.vcf.gz'
    rediportal_tbi                            = '/t9k/mnt/joey/bio_db/rna_editing/REDIportal/REDIportal_hg38_v3.vcf.gz.tbi'
    cosmic_vcf                                = '/t9k/mnt/joey/bio_db/COSMIC/ucsc_chr_cosmic_GenomeScreensMutant_Normal_v103_GRCh38.vcf.gz'
    cosmic_tbi                                = '/t9k/mnt/joey/bio_db/COSMIC/ucsc_chr_cosmic_GenomeScreensMutant_Normal_v103_GRCh38.vcf.gz.tbi'
    gnomad_dir                                = '/t9k/mnt/joey/bio_db/gnomAD/exomes'
    enable_cosmic_gnomad_annotation           = true
    cosmic_gnomad_verbose                     = false
    cosmic_gnomad_germline_freq_threshold     = 0.001
    cosmic_gnomad_somatic_consensus_threshold = 2
    cosmic_gnomad_cosmic_recurrence_threshold = 5
    min_rna_support        = 2

    // params
    trim_fastq                                = true
    split_fastq                               = 50000         // no FASTQ splitting
    save_trimmed                              = true
    defaultvariantcallers                     = "deepsomatic,strelka,mutect2"
    // tools                                     = 'sage,strelka,mutect2,vep,norm,consensus,rescue,realignment,filtering,rna_filtering'
    tools                                     = 'deepsomatic,mutect2,strelka,vep,norm,consensus,rescue,filtering,rna_filtering'
    vc_priority                               = 'deepsomatic mutect2 strelka consensus'
}
