/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for VCF Filtering module
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: 'VCF_FILTERING' {
        ext.prefix = { "${meta.id}" }
        ext.args = { [
            "--gnomad_thr 0.0001",
            "--min_alt_reads 2",
            params.whitelist ? "--whitelist ${params.whitelist}" : '',
            params.blacklist ? "--blacklist ${params.blacklist}" : ''
        ].join(' ').trim() }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/filtered/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }

    withName: 'VCF_RESCUE_FILTER' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/rescue/${meta.id}/" },
            pattern: "*{vcf.gz,vcf.gz.tbi}"
        ]
    }
}
