/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for BAM contig reordering
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Handles BAM files with contigs not present in the reference (e.g., viral sequences)
----------------------------------------------------------------------------------------
*/

process {
    withName: 'CHECK_CONTIGS' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'PICARD_REORDERSAM' {
        ext.args = ''
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/preprocessing/reordered/" },
            pattern: "*.{bam,bam.bai}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
