/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// SALMON

process {

    withName: 'SALMON_QUANT' {
        ext.args = {
            def args = "--validateMappings --libType ${params.salmon_libtype}"
            if (params.salmon_gc_bias) args += " --gcBias"
            args
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/salmon" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename == 'versions.yml') return null
                filename
            }
        ]
    }

    withName: 'QUANT_TSV_NORMALIZE' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/salmon" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

}
